@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik Iso', cursive;
}

header {
    display: grid;
    justify-content:center;
    padding: 10px 0;
}

#logo {
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

nav li {
    padding: 2px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 2px;
    font-weight: 600;
}
nav a {
    text-decoration: none;
}

.slides-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    border: 1px solid black;
}

.slides {
    width: 90%;
    max-width: 500px;
    margin: auto;
}


/* Game */
#game{
    width: 500px;
    height:200px;
    border: 1px solid black;
    margin: auto;
}

#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top:150px;
    left: 20px;
}

.jump-character {
    animation: jump 500ms;
}

@keyframes jump {
    0%{top: 150px;}
    20%{top: 100px;}
    80%{top: 100px;}
    100%{top: 150px}
}

.barrel {        
    width: 20px;
    height: 20px;
    background-color: blue;
    position:relative;
    top: 130px;
    left: 480px;
}

#home-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

#play {
    width: fit-content;
    margin: 10px auto;
}

#score-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
}

#score-bar p {
    padding: 5px;
    text-align: center;
}

/* feedback */
.form-container {
    display: grid;
    justify-content: center;
}

.button {
    margin: 10px 0;
}

/* Footer style */
footer {
    text-align: justify;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }
  
  footer i {
    font-size: 200%;
    padding: 0 25px;
    color: rgb(0, 0, 0);
  }
  
  footer li {
    display: inline;
  }
  
  footer li:hover {
    font-size: 150%;
  }