@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik Iso', cursive;
}

header {
    display: grid;
    justify-content:center;
    padding: 10px 0;
}

#logo {
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

nav li {
    padding: 2px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 2px;
    font-weight: 600;
}
nav a {
    text-decoration: none;
}

.slides-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    border: 1px solid black;
}

/* Footer style */
footer {
    text-align: justify;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
  }
  
  footer i {
    font-size: 200%;
    padding: 0 25px;
    color: rgb(0, 0, 0);
  }
  
  footer li {
    display: inline;
  }
  
  footer li:hover {
    font-size: 150%;
  }